<!--suppress BadExpressionStatementJS -->
<button id="lang_button" onclick="changeLang()">
  <span id="lang_text"></span>
  <script>
      function setLang(lang) {
          switch (lang) {
              case "en":
                  document.getElementById("lang_en").style.display = "block";
                  document.querySelectorAll(".lang_en").forEach(el => el.style.display = "initial");
                  document.getElementById("lang_jp").style.display = "none";
                  document.querySelectorAll(".lang_jp").forEach(el => el.style.display = "none");
                  document.title = "[[title_en]]";
                  document.documentElement.lang = "en";
                  sessionStorage.setItem('lang', "en");
                  break;
              case "ja":
              default:
                  document.getElementById("lang_en").style.display = "none";
                  document.querySelectorAll(".lang_en").forEach(el => el.style.display = "none");
                  document.getElementById("lang_jp").style.display = "block";
                  document.querySelectorAll(".lang_jp").forEach(el => el.style.display = "initial");
                  document.title = "[[title_ja]]";
                  document.documentElement.lang = "ja";
                  sessionStorage.setItem('lang', "ja");
                  break;
          }
          updateButton();
      }

      function changeLang() {
          switch (sessionStorage.getItem('lang')) {
              case "en":
                  setLang('ja');
                  break;
              case "ja":
              default:
                  setLang('en');
                  break;
          }
          updateButton();
      }

      function updateButton() {
          switch (sessionStorage.getItem('lang')) {
              case "ja":
                  document.querySelectorAll("#lang_text").forEach(el => el.innerHTML = "English");
                  break;
              case "en":
                  document.querySelectorAll("#lang_text").forEach(el => el.innerHTML = "日本語");
                  break;
          }
      }
      window.onload = () => setLang(sessionStorage.getItem('lang'));
  </script>
</button>
<script scml>
    (buildInfo, option) => {
        return {
            "title_en": (buildInfo.fileEnv["TITLE_EN"] ?? buildInfo.fileEnv["TITLE"]) + " | In search of resources in your right pocket",
            "title_ja": buildInfo.fileEnv["TITLE"] + " | 右ポケットの中の資源を求めて",
        };
    }
</script>
<style>
  #lang_button {
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    width: 100%;
  }
</style>