<a href="{{ href }}" id="next_link">
  <button id="next_button">
    Next
  </button>
</a>
<style>
    #next_button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
    }

    #next_button:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        right: 15px;
        border: 2px solid;
        border-color: white white transparent transparent;
        transform: translateY(-50%) rotate(45deg);
    }
</style>