<!--suppress ALL -->
<div class="atom_chara" style="width: {{ width }}; margin: 50px calc((100% - {{ width }}) / 2);">
    <img class="atom_chara_img" src="{{ src }}" alt="元素キャラクターのアイコン" /> <!-- TODO 元素名を入れる JSON? -->
    <div class="atom_chara_content">
        {{ text }}
    </div>
</div>
<style>
    .atom_chara {
        --atom_chara_size: 150px;
        /*display: flex;*/
        /*flex-wrap: nowrap;*/
        display: grid;
        align-items: center;
        gap: 40px;
        grid-template-columns: var(--atom_chara_size) 1fr;
    }
    .atom_chara * {
        box-sizing: border-box;
    }

    .atom_chara_img {
        margin: 0 20px;
        width: var(--atom_chara_size);
        height: var(--atom_chara_size);
        border-radius: calc(var(--atom_chara_size) / 2);
        object-fit: cover;
    }

    .atom_chara_content {
        --color: #e6f0f5;
        position: relative;
        display: grid;
        align-items: center;
        margin-left: 20px;
        padding: 20px;
        border-radius: 30px;
        flex-grow: 1;
        background-color: var(--color);
        font-size: 18px;
    }

    .atom_chara_content:before {
        --size: 30px;
        content: "";
        position: absolute;
        top: 50%;
        left: calc(-1 * var(--size));
        margin-top: calc(-1 * var(--size) / 2);
        border: calc(var(--size) / 2) solid transparent;
        border-right: calc(var(--size) / 2) solid var(--color);
    }
</style>
<!--suppress HtmlUnknownAttribute -->
<script scml>
    // noinspection BadExpressionStatementJS
    (buildInfo, options) => {
        console.log(options)
        return {};
    }
</script>