<figure class="image_box" style="width: {{width}}; height: {{height}};" id="{{ id }}">
  <img class="image" src="{{ src }}" alt="{{ alt }}" style="transform: scale({{scale}})"/>
  <figcaption class="image_caption">{{ caption }}<span style="[[source_empty]]"><br><span class="lang_en">Data Source : </span><a href="{{link}}">[[source]]</a><span class="lang_ja">より引用</span></span></figcaption>
</figure>
<style>
  .image_box {
    display: inline-block;
    position: relative;
    /*width: 100%;*/
    margin-bottom: 3em;
  }

  .image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }

  .image_caption {
    display: block;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    line-height: 1.2em;
  }
</style>
<script scml>
    // noinspection BadExpressionStatementJS
    (buildInfo, options) => {
        return {
            "style": "style=\"height: " + options["height"] + "\"; transform",
            "source": options["source"]?.replace("SusDI", "<img style='height: 1em; vertical-align: middle;' src='../assets/susdi/46e68cc8af75454ff9cc3fd767a83b0e-300x109.png'/>"),
            "source_empty": options["source"] === "" || options["source"] === undefined ? "display:none;" : "display:initial;",
        };
    }
</script>