<!--suppress BadExpressionStatementJS -->
<footer>
  <img class="footer_logo" src="[[root_path]]img/logo.png" />
  <div class="footer_main">
    <div class="footer_title">
      <span class="lang_jp">右ポケットの中の資源を求めて</span>
      <span class="lang_en">In Search of Resources in Your Right Pocket</span>
    </div>
    <div class="footer_copyright">
      <span class="lang_jp">このサイトは <a href="http://webcon.japias.jp/">第24回全国中学高校Webコンテスト</a> に参加しています。</span>
      <span class="lang_en">このサイトは <a href="http://webcon.japias.jp/">第24回全国中学高校Webコンテスト</a> に参加しています。</span>
    </div>
    <div class="footer_license">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img style="border-width:0"
             src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png"/>
      </a>
      <br/>
      <span class="lang_jp">
        この作品は
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
          クリエイティブ・コモンズ 表示 - 非営利 - 改変禁止 4.0 国際ライセンス
        </a>
        の下に提供されています。
      </span>
      <span class="lang_en">
        This work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        Creative Commons Attribution 4.0 International License
        </a>.
      </span>
    </div>
  </div>
  <div class="footer_sitemap">
    <a href="[[root_path]]">Home</a>
    <a href="[[root_path]]present-situation/"><span class="lang_jp">資源の現状</span><span class="lang_en">Present Situation</span></a>
    <a href="[[root_path]]urban-mining/"><span class="lang_jp">都市鉱山の意義</span><span class="lang_en">Significance of Urban Mining</span></a>
    <a href="[[root_path]]problem/"><span class="lang_jp">課題</span><span class="lang_en">Problem</span></a>
    <a href="[[root_path]]measure/"><span class="lang_jp">現在の取り組み</span><span class="lang_en">Measure</span></a>
    <a href="[[root_path]]activity/"><span class="lang_jp">アクティビティ</span><span class="lang_en">Activity</span></a>
    <a href="[[root_path]]solution/"><span class="lang_jp">解決策</span><span class="lang_en">Solution</span></a>
    <a href="[[root_path]]finally/"><span class="lang_jp">最後に</span><span class="lang_en">Finally</span></a>
    <a href="[[root_path]]others/"><span class="lang_jp">その他</span><span class="lang_en">Others</span></a>
  </div>
  <!--  ©︎甲陽学院PC部-->
</footer>

<script scml>
    (buildInfo, options) => {
        const root_path = buildInfo.fileEnv["ROOT_PATH"] ?? "../";
        return {
            "root_path": root_path
        };
    }
</script>

<style>
  footer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #003b54;
    display: flex;
    color: #fbf8f8;
  }

  @media (orientation: portrait) {
    .footer_logo {
      display: none;
    }
  }

  .footer_logo {
    position: absolute;
    height: 80%;
    object-fit: contain;
    top: 10%;
    left: 12.5%;
  }
  .footer_main {
    position: relative;
  }

  .footer_copyright {
    position: absolute;
    color: darkgray;
  }
  .footer_copyright * {
    font-size: 12px;
  }

  .footer_copyright > a {
    text-decoration: underline;
    color: #fbf8f8;
  }

  .footer_license {
    position: absolute;
    color: darkgray;
  }
  .footer_license * {
    font-size: 12px;
  }

  .footer_license a {
    text-decoration: none;
    color: #fbf8f8;
  }

  .footer_license a:hover {
    color: lightgray;
  }

  .footer_sitemap {
    position: absolute;
  }

  .footer_sitemap > a {
    --category-count: 9;
    display: grid;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #fbf8f8;
  }

  @media (orientation: landscape) {
    .footer_main {
      width: 50%;
      height: 100%;
      margin-left: 20%;
    }

    .footer_title {
      margin: 75px 10% 0;
      font-size: 25px;
    }

    .footer_license {
      bottom: 10%;
      left: 10%;
      font-size: 12px;
    }
    .footer_license > a {
      font-size: 12px;
    }

    .footer_copyright {
      bottom: 30%;
      left: 10%;
    }

    .footer_sitemap {
      top: 10%;
      width: 200px;
      height: 80%;
      right: 10%;
    }

    .footer_sitemap > a {
      width: 100%;
      height: calc(100% / var(--category-count));
    }
    .footer_sitemap > a, .footer_sitemap > a * {
      font-size: 14px;
    }
  }

  @media (orientation: portrait) {
    .footer_main {
      width: 55%;
      height: 100%;
      margin-left: 5%;
    }

    .footer_title {
      margin: 30px 0 0 3%;
      font-size: 25px;
    }

    .footer_copyright {
      bottom: 35%;
      left: 3%;
      font-size: 10px;
    }
    .footer_copyright > a {
      font-size: 10px;
    }

    .footer_license {
      bottom: 10%;
      left: 3%;
      font-size: 10px;
    }
    .footer_license > a {
      font-size: 10px;
    }

    .footer_sitemap {
      top: 10%;
      width: 30%;
      height: 80%;
      right: 5%;
    }

    .footer_sitemap > a {
      width: 100%;
      height: calc(100% / var(--category-count));
    }
    .footer_sitemap > a, .footer_sitemap > a * {
      font-size: 12px;
    }
  }
</style>