<nav>
	<div class="button">
		<img src="/svg/ham.svg" alt="" id="ham">
	</div>
	<div class="nav_link" id="navLink">
		<a href="/">Home</a>
		<a href="/present/">資源の現状</a>
		<a href="/mean/">都市鉱山の意義</a>
		<a href="/task/">課題</a>
		<a href="/current_activity/">現在の取り組み</a>
		<a href="#">解決策</a>
		<a href="/activity/">アクティビティ</a>
		<a href="#">その他</a>
	</div>
</nav>
<style>
nav {
	align-items: center;
	background-color: #003b54;
  	height: 70px;
  	display: flex;
  	/*z-index: 1000;*/
  	width: 100%;
}
.nav_link > a {
	--count: 8;
	color: #fbf8f8;
  	flex: none;
  	font-family: Lato, sans-serif;
  	font-weight: 400;
  	text-decoration: none;
  	justify-content: center;
}
@media(orientation: landscape) {
	.nav_link {
		width: 100%;
		height: 100%;
		/*display: block;*/
		display: flex;
	}
	.nav_link > a {
		height: 100%;
		display: grid;
		align-items: center;
		font-size: 1.2vw;
	}
	.button > img {
		display: none;
	}
	.nav_link > a {
		text-align: center;
		line-height: 1.4;
		width: calc(100% / var(--count) - 40px);
		max-width: calc(100% / var(--count) - 40px);
  		margin: 0 20px 0;
	}
}
@media(orientation: portrait) {
	.button > img {
		position: absolute;
		display: block;
		height: 20px;
		left: 40px;
		top: 25px;
		z-index: 1000;
	}
	.button {
		position: absolute;
		width: 100%;
		height: 70px;
		z-index: 1000;
		background-color: #003b54;
  		position: fixed;
	}
	.nav_link {
		position: fixed;
		width: 100%;
		top: calc(-100% + 70px);
		background-color: #003b54;
		z-index: 100;
		height: calc(100vh - 70px);
		box-sizing: border-box;
		padding: 5vh 0 0 0;
		transition: 1s ease;
	}
	.nav_title {
		position: absolute;

	}
	.nav_link.open {
		top: 70px;
	}
	.nav_link > a {
		font-size: 18px;
		line-height: 60px;
		display: block;
		width: 80%;
		margin: 0 auto 0;
		height: 60px;
		box-sizing: border-box;
		padding: 0 0 0 60px;
		border-top: 1px solid white;
	}
}
</style>
<script>
	let open_judge = -1;

	window.onload = () => {
		document.getElementById('ham').onclick = () => {
			console.log('A');
			if (open_judge === -1) {
				document.getElementById('navLink').classList.add('open');
			} else {
				document.getElementById('navLink').classList.remove('open');
			}
			open_judge*=-1;
		};
	}
</script>
