<nav>
	<a href="index.html">Home</a>
	<a href="resource.html">資源の現状</a>
	<a href="#">都市鉱山</a>
	<a href="#">課題</a>
	<a href="#">現在の取り組み</a>
	<a href="#">解決策</a>
	<a href="#">その他</a>
</nav>
<style>
nav {
	align-items: center;
	background-color: #003b54;
  height: 70px;
  display: flex;
}
nav > a {
	color: #fbf8f8;
  flex: none;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  line-height: 1.4;
  margin: 0px 20px 0px;
  text-align: center;
  width: calc(100% / 7 - 40px);
  max-width: calc(100% / 7 - 40px);
  justify-content: center;
  text-decoration: none;
}
</style>