<button class="video_popup" onclick="openVideoPopup('{{ v_id }}')">{{content}}</button>
<div id="video_fullscreen_{{ v_id }}">
  <Video height="50vh" poster="{{poster}}">{{src}}</Video>
  <button class="video_fullscreen_close" onclick="closeVideoPopup('{{ v_id }}')">閉じる</button>
</div>
<script>
  function openVideoPopup(v_id) {
    let fullscreen = document.getElementById("video_fullscreen_" + v_id);
      fullscreen.style.display = "block";
  }
  function closeVideoPopup(v_id) {
      let fullscreen = document.getElementById("video_fullscreen_" + v_id);
      fullscreen.style.display = "none";
  }
</script>
<style>
  .video_popup {
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    /*width: 100%;*/
    text-align: center;
    text-decoration: underline;
    display: inline;
    font-size: 16px;
  }
  [id^="video_fullscreen_"] {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff88;
    z-index: 99999;
    display: none;
  }
  [id^="video_fullscreen_"] > video {
    margin-top: 25vh;
  }
  .video_fullscreen_close {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    color: white;
    background-color: black;
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
  }
</style>