<span class="word"><span class="word_text">{{ content }}</span>
  <span class="word_description_container">
    <span class="word_description">
      <span class="word_description_title">{{ content }}</span>
      <span class="word_description_text" style="line-height: 1.5rem;">[[ description ]]</span>
    </span>
  </span>
</span>
<style>
    .word_text {
        position: relative;
        color: #000;
        font-weight: bold;
        white-space: nowrap;
        z-index: 1;
    }

    .word_description_container {
        position: absolute;
        display: block;
        height: 0;
        opacity: 0;
        filter: drop-shadow(8px 8px 20px #999);

        transition-duration: .25s;
        transition-property: height, opacity;

        overflow: hidden;
        z-index: 50;
    }
    .word:hover .word_description_container, .word_description_container:hover {
        opacity: 100%;

        height: auto;
        overflow: hidden;

    }

    .word_description {
        box-sizing: border-box;
        display: block;
        margin-top: 10px;
        /*background-color: #eee;*/
        background-color: ghostwhite;
        height: calc(100% - 10px);
        width: 100%;
        text-align: left;
        padding: 20px;
        border-radius: 5px;
    }
    .word_description_title {
        display: block;
        font-weight: 700;
        text-indent: 0;
    }
    .word_description_text {
      display: block;
      text-indent: 0;
    }

    @media(orientation: landscape) {
        .word {
            position: relative;
        }
        .word_description_container {
            left: 0;
            width: 300px;
            top: calc(100%);
        }
        .word_description_container:before {
            box-sizing: border-box;
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            top: -10px;
            left: 10px;
            border: solid 10px transparent;
            border-bottom: solid 10px ghostwhite;
        }
        .word_description {
            margin-top: 10px;
        }
        .word_description_title {
            font-size: 1.2em;
        }
        .word_description_text {
            font-size: 15px;
            line-height: 5px;
        }
    }
    @media(orientation: portrait) {
        .word {
            position: relative;
        }
        .word_description_container {
            width: 70vw;
        }
        .word_description {
            margin-top: 0;
        }
        .word_description_title {
            font-size: 1.2em;
        }
    }
</style>
<!--suppress HtmlUnknownAttribute -->
<script scml>
    // noinspection BadExpressionStatementJS
    (buildInfo, options) => {
        const wordDictionary = {
            "レアメタル": "1.地殻中の存在量が比較的少ない元素　<br> 2.単体として取り出すことが技術的に困難な元素<br>3.資源の産出国が偏在している<br>を満たす元素のことを言い、現代の産業に欠かせない”産業のビタミン”と呼ばれる。別名マイナーメタル。",
            "金属資源": "鉱物資源の一種。さらにレアメタル、マイナーメタルに分けられる。",
            "ナノ磁石": "非常に小さな磁石。S極・N極を持たず、磁力線が外に出ないという特徴がある。",
            "レアアース": "レアメタルの一種。最新技術に欠かせない元素であり、全部で17種類存在する。",
            "超伝導転移温度": "物質の電気抵抗がゼロになるという現象が現れるときの温度。",
            "超伝導磁石": "超伝導状態の磁石。電気抵抗がないため、大電流を流してもエネルギーロスがなく、とてつもなく強力である。",
            "オイルショック": "1970年代に2度発生した、原油の供給逼迫および原油価格の高騰に伴い、世界経済全体がきたした大きな混乱の総称である。 石油危機または石油ショックとも称される。",
            "埋蔵量": "採掘して経済的に成立する量。",
            "マイナーメタル": "1.地殻中の存在量が比較的少ない元素<br>2.単体として取り出すことが技術的に困難な元素<br>3.資源の産出国が偏在している<br>を満たす元素のことを言い、現代の産業に欠かせない”産業のビタミン”と呼ばれる。別名レアメタル。",
            "メジャーメタル": "鉄、銅、亜鉛、アルミニウムなどの精錬が容易で大量に存在する金属のこと。別名ベースメタル。",
            "貴金属": "金 (Au)、銀 (Ag)、白金 (Pt)、パラジウム (Pd)、ロジウム (Rh)、イリジウム (Ir)、ルテニウム (Ru)、オスミウム (Os) 、レニウム(Re)を総称して言う。",
            "一次資源": "まだ地中から掘り出されていない地下資源。",
            "二次資源": "地中から既に掘り出された地上資源。",
            "自給率": "国や地域など一定の範囲内で消費される材料などの物品や、製品の材料や素材となる物品をその範囲内で自ら生産や産出し供給して、それらの全需要量を満たしているかを示す割合。",
            "SDGs": "持続可能な開発目標(Sustainable Development Goals)の略。2030年までに持続可能なよい社会を目指す17のゴールと169のターゲットが定められた国際目標。",
            "バーゼル条約": "正式名称は、「有害廃棄物の国境を越える移動及びその処分の規制に関するバーゼル条約」。その名の通り国境を越える有害廃棄物の移動を規制する条約。セベソ事件やココ事件などの事件を受けて締結された。",
            "サーマルリサイクル": "廃プラスチックを燃焼させることで発生した燃料をエネルギーとして回収する方法。ただしマテリアルリサイクルには含まれない。",
            "セベソ事件": "イタリア・セベソで起こったで起こった農薬工場の爆発事故。これにより多くの有害物質が放出されその後その一部が北フランスに運ばれていたことが問題になった。",
            "ココ事件": "イタリアの有害物質がナイジェリアのココ港に不法投棄されていた事件。イタリアは自主回収したがその船を受け入れてくれる港が見つからず、1ヶ月以上の間海を彷徨い続けた。別名カリンB号事件。",
            "豊島事件": "香川県の豊島で起きた産業廃棄物不法投棄事件。1978年から事件は始まり、完全に撤去が完了したのは2019年。",
            "自動車リサイクル法": "車を対象とした法律。購入時にリサイクル代金を支払いリサイクル券を発行する前払い制度が取られている。2002年7月12日に公布され、2005年1月1日から施工されている。",
            "不法投棄": "家電などを適正に処置をせずに山の中に捨てること。ゴミの中に含まれる有害物質はしばしば環境に大きな害を与える。",
            "シュレッダーダスト": "工業用シュレッダーで廃家電や廃自動車を破砕し、金属などを回収した後に、産廃として捨てられるプラスチック・ガラス・ゴムなど破片の混合物。",
            "廃棄物処理法": "正式名称は「廃棄物の処理及び清掃に関する法律」。廃棄物の排出の抑制、廃棄物の適正処理により生活環境の保全・公衆衛生の向上を目的としている。1970年12月25日に公布され、1971年9月24日に施行された。",
            "品位": "鉱石中に含まれる目的の鉱物・金属の含有率を示す値。",
            "小型家電リサイクル法": "日本で小型家電を対象として施工されているリサイクルに関する法律。家電リサイクル法などとは違い、法律に強制力はない。2021年8月10日に公布され、2013年4月1日から施工されている。",
            "回収ボックス": "使用済み小型家電を集めるため、スーパーや学校などに設置されているボックス。誰でも無料で利用することができる。",
            "認定事業者": "国が認定した、確実なリサイクルを行う業者。",
            "ベースメタル": "鉄、銅、亜鉛、アルミニウムなどの精錬が容易で大量に存在する金属のこと。別名メジャーメタル",
            "電気・電子機器の返却・引き取り・処分に関する政令": "スイスにおいて実施されているリサイクルに関する法律。家庭や職場での家電製品等の返却義務や製造業者の受け入れ義務などが定められている。",
            "ヤード": "中国においてリサイクルするものがまず運ばれてくる場所のこと。このうちの多くが再利用（リユース）のために持ち出され、実際にリサイクルされる量はもとより減る。",
            "リユース": "元ある部品などを再利用すること。リサイクルと違って出てきた廃棄物をできるだけそのまま利用する。",
            "修理のしやすさ指数": "その製品がどれほど修理がしやすいかを10段階で表す指標。フランスでは表示が義務付けられている。",
            "シングルストリーム": "資源ごみを回収してから選別作業を行うリサイクル方式。消費者はゴミを分別して出す必要はなく、コストも低いというメリットがある。アメリカ合衆国などで広く浸透している。",
            "Fairphone": "オランダの企業及びその企業が販売するスマートフォンの名前である。消費者が簡単に自分で修理できるような構造になっており、また、児童労働などを介さないクリーンなルートで原材料の調達は行われている。",
            "みんなのメダルプロジェクト": "東京2020オリンピック・パラリンピックにおける金・銀・銅メダルを都市鉱山から作るというプロジェクト。このプロジェクトによって約5000個のメダルが都市鉱山から作られた。",
            "アフターメダルプロジェクト": "みんなのメダルプロジェクトが平成31年3月31日に終了した後に引き継がれたプロジェクト。都市鉱山の利用を広く呼びかけ、回収の促進をしている。",
            "家電リサイクル法": "エアコン、テレビ(ブラウン管、液晶・プラズマ)、冷蔵庫・冷凍庫、洗濯機・衣類乾燥機の家電4品目を対象とした法律。後払い制度がとられている。これらの家電の回収により、リサイクルの促進だけでなく、廃棄物の減量も目指している。",
            "精錬": "粗金属から不純物を取り除いて純度を上げること。",
            "耐用年数": "資源が枯渇するまでの年数。埋蔵量を生産量で割った値。",
            "法定リサイクル率": "国によって定められているリサイクル率。工場でのリサイクル率がこれを下回ってしまうと稼働できなくなってしまう。エアコンでは80%、テレビでは55%というように品目ごとに決まっている。",
            "バックライト": "背面から液晶を照明するもの。",
            "筐体": "何らかの機能を有する機械や電気機器などを中に収めた箱のこと。",
            "ハーネス": "洗濯機、冷蔵庫等の家電や自動車等の内部配線に使用されるもので、電源供給や信号通信を目的に複数の電線を束状にし配線し易い長さ形状にしたもの。",
            "フレキシブルケーブル": "柔軟性があり大きく変形させることが可能な配線。「フレキ」と略されることが多いがこれは住友電気工業の商標登録である。",
            "ヒンジ": "蝶番のこと。メンバーの語彙力ではこれ以上説明できない。",
            "資源有効利用促進法": "車やパソコンを対象としたリサイクルの法律。前払い制度を採用している。",
            "循環型経済": "リサイクルの目的を、環境に負担を与えないことだけでなく、経済の発展の起爆剤にすることにもするという考え方で表した社会のこと。",
            "循環型社会": "廃棄物を出さないように循環させ、環境への負担を最低限にする考え方に基づいた経済の仕組み。"

        }
        return {
            "description": wordDictionary[options.content],
        };
    }
</script>