<LinkAnchor id="s_{{ id }}"></LinkAnchor>
<span class="summary-link" id="s_{{ id }}_content">{{content}}</span>
<script>
    document.addEventListener("click", () => {
        setTimeout(() => {
            if (window.location.href.indexOf("#") < 0) return;
            const id_sharp = window.location.href.match(/#[^#]*/).toString();
            // if(id_sharp == null) return;
            const id = id_sharp.replace("#", "");
            if (id.indexOf("s_") < 0) return;
            for (let elem of document.getElementsByClassName("summary-link")) {
                if (elem.id === `${id}_content`) elem.style.border = "2px solid red";
                else elem.style.border = "none";
            }
        }, 100);
    });
</script>
<style>
  .summary-link {
    display: block;
  }
</style>